<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSSServerLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GSSServerLibrary.Properties.Settings>
            <setting name="GSSServerLibrary_WebServiceGame_ServiceXLJ" serializeAs="String">
                <value>http://localhost:3287/ServiceXLJ.asmx</value>
            </setting>
            <setting name="GSSServerLibrary_WebServiceZone_WebServiceZone"
                serializeAs="String">
                <value>http://localhost:2234/WebServiceZone.asmx</value>
            </setting>
        </GSSServerLibrary.Properties.Settings>
    </applicationSettings>
</configuration>