<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppLanguage" value="ko-kr"/>
    <!--zh-cn ko-kr-->
    <add key="SwitchLanguage" value="zh-cn|ko-kr"/>
    <add key="BigZoneName" value="大区"/>
    <add key="AwardUserInfoColumns" value="Map_UserNo|Map_RoleNo|Map_ZoneNo"/>
    <!--读取发奖工单导入用户数据提取哪些数据列 LanguageResource\MapLanguage\UserDataMapLanguage.cs-->
    <!--<add key ="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>-->
    <add key ="DateTimeFormat" value="yyyy-MM-dd"/>
    <add key="DateHourMinute" value="yyyy-MM-dd HH:mm"/>
    <add key="AppID" value="100103100"/>
    <!--系统ID号：客服系统  100103100-->
    <add key ="GameID" value="1000"/>
    <!--客服系统作用的游戏系统编号-->
    <add key="DefaultWorkOrderStatue" value="100100100"/>
    <!--创建工单时工单的默认状态  等待处理-->
    <add key ="ErrorLogDir" value="GSSLog"/>
    <add key="OpenCodeLog" value="true"/>
    <!--是否开启system.io编写代码记录日志 该日志可能因为没有权限而不能写日志-->
    <add key ="GetCacheSleepSec" value="3000"/>
    <!--在查询缓存数据时设置延迟时间，以解决缓存加载失败导致gss不能启动-->
    <add key="SocektDataReceiveWaitSleep" value="true"/>
    <add key="DefaultSheetName" value="sheet1"/>
    <add key="AutoUpdateGssClientGameconfig" value="AutoUpdateGssClient"/>
    <add key="CloseIoLogger" value="false"/>
    <add key ="SyncVersionCache" value="false"/>
    <!--登录时加载缓存数据一并加载数据库中版本信息-->
    <add key ="OpenGridCellNamePrint" value="true"/>
    <!--在debug时开启GridView的列名称打印（日志输出）-->
  </appSettings>
</configuration>