<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebZoneConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WSS.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--战区架设WEBSERVICE地址(战区架设WebServiceZoneConfig)-->
    <add key="WebServiceZoneConfigURL" value="http://127.0.0.1/WebServiceZoneConfig/ServiceZoneConfig.asmx" />
    <!--GSS游戏服务系统对外WEBSERVICE地址(对外接口GSSWebServiceOut)-->
    <add key="GSSWebServiceOutURL" value="http://127.0.0.1/GSSWebServiceOut/WebServiceGSS.asmx" />
    <!--在vs2013调戏时会增加 poll?transport=longpoll&connection请求-->
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name="loginForm" />
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" culture="auto" uiCulture="auto" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <sessionState mode="StateServer" cookieless="false" stateNetworkTimeout="3600" sqlCommandTimeout="3600" timeout="60" />
    <httpHandlers>
      <add path="*/coolite.axd" verb="*" type="Coolite.Ext.Web.ResourceManager" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />
    </modules>
        <defaultDocument>
            <files>
                <remove value="Admin_Login.aspx" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <WebZoneConfig.Properties.Settings>
      <setting name="WebZoneConfig_WebServiceZoneConfig_ServiceZ" serializeAs="String">
        <value>http://127.0.0.1/WebServiceZoneConfig/ServiceZoneConfig.asmx</value>
      </setting>
      <setting name="WebZoneConfig_GSSWebServiceOut_WebServiceGSS"
        serializeAs="String">
        <value>http://127.0.0.1/GSSWebServiceOut/WebServiceGSS.asmx</value>
      </setting>
    </WebZoneConfig.Properties.Settings>
  </applicationSettings>
</configuration>