<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings file="">
    <clear />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    
    <!--本地数据库连接字符串-->
    <!--发布-->
    <!--<add key="ConnectionStringGSSDB" value="server=11.0.3.241;database=GSSDB;uid=sa;pwd=5225qs5a5a#" />
    <add key="ConnectionStringDigGameDB" value="server=11.0.3.241;database=DigGameDB;uid=sa;pwd=5225qs5a5a#" />-->
    <!--hexw本机-->
    <add key="ConnectionStringDigGameDB" value="server=192.168.1.121;database=DigGameDB;uid=sa;pwd=5225qs5a5a#" />
    <add key="ConnectionStringGSSDB" value="server=192.168.1.121;database=GSSDB;uid=sa;pwd=5225qs5a5a#" />
    <add key="DBMysqlConnection"   value="server=192.168.1.221;user id=root;password=5225qs5a5a#;database=thyoung; pooling=true;" />
    <!--依赖配置项-->
    <add key="DateTimeFormat" value="yyyy-MM-dd hh:mm:ss" />
    <add key="SmallDateTimeFormat" value="yyyy-MM-dd" />
    <!--'|' 用于区分职业集合， '=' 左边为职业ID，右边为职业名称-->
    
    <add key="VocationType" value="1=猎魔者|2=魔导师|3=龙战士|4=召唤师" />
    <!--韩文环境下的职业名 VocationType+语言 如韩国为ko-kr-->
    <add key="VocationTypeko-kr" value="1=암살자|2=암살자|3=용전사|4=소환사" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="PageLanguage" value="ko-kr" />
    <!--语言选择 zh-CN ko-kr-->
    <add key="BigZoneID" value="0" />
    <!--系统服务的大区id值-->
    <add key="CDKeyType" value="1|官方新手礼包,2|KoreaVip,3|ChinaVIP" />
    <!--此处值根据要求填写  分类ID|卡类,-->
    <add key="disableCDKeyCreate" value="true" />
    <!--禁用cdk生成功能-->
    <add key="KoreaDepositVerifyURL" value="http://partners.nextmv.com:80/v1.1/api/payment/verify?tid={0}&amp;store_response=Y"/>
    <!--GM权限IP-->
    <add key="GMIP" value="211.219.29.177"/>
    <!--GM密码-->
    <add key="GMPassWord" value="698d51a19d8a121ce581499d7b701668"/>
    <!--测试服0正式服1-->
    <add key="WssPublish" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="DBMysqlConnection" connectionString="server=52.231.201.26;user id=thyoung;password=qwer1234!@#$;database=thyoung; pooling=true;" providerName="MySql.Data.MySqlClient" />  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
    <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" fileEncoding="gb2312" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Admin_Login.aspx" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>