<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GSSGameWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="customerror/GenericErrorPage.htm">
			<error statusCode="403" redirect="customerror/NoAccess.htm"/>
			<error statusCode="404" redirect="customerror/FileNotFound.htm"/>
		</customErrors>
		<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
	</system.web>
	<applicationSettings>
		<GSSGameWeb.Properties.Settings>
   <setting name="GSSGameWeb_UpLoad_OverTime" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="GSSGameWeb_UpLoad_MaxLength" serializeAs="String">
    <value>1.5</value>
   </setting>
   <setting name="GSSGameWeb_CountStatRealm" serializeAs="String">
     <!--允许进行统计的网站域名,多个用,隔开-->
    <value>localhost,www.a.com</value>
   </setting>
   <setting name="GSSGameWeb_WebServiceGSS_WebServiceGSS" serializeAs="String">
     <!--GSS系统对外的WEBSERVICE 网站项目GSSWebServiceOut -->
    <value>http://localhost:2207/WebServiceGSS.asmx</value>
   </setting>
  </GSSGameWeb.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<defaultDocument>
			<files>
				<clear/>
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
		<directoryBrowse enabled="true"/>
		<httpErrors errorMode="DetailedLocalOnly">
			<remove statusCode="403"/>
			<error statusCode="403" path="customerror\NoAccess.htm" responseMode="File"/>
			<remove statusCode="404"/>
			<error statusCode="404" path="customerror\FileNotFound.htm" responseMode="File"/>
		</httpErrors>
	</system.webServer>
</configuration>
