<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="GameCoreDBConnectionString" connectionString="Data Source=.;Initial Catalog=GameCoreDB;Integrated Security=True;uid=newuser;pwd=5225qs5a5a#" providerName="System.Data.SqlClient"/>-->
    <add name="GameCoreDBConnectionString" connectionString="server=.;database=GameCoreDB;uid=sa;pwd=5225qs5a5a#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--对应的大区编号(一个WEBSERVICE对应一个大区)-->
    <add key="BigZoneID" value="0"/>
    <add key="LimitRemoteServer" value="false"/><!--是否限制远程访问的机器IP-->
    <!-- 使用此WEBSERVICE的战区修改工具业务端的IP,只允许此IP访问(如果为访问地址为localhost或127.0.0.1,请在此处写127.0.0.1);配合IIS做IP限制,双重安全 -->
    <add key="GSSServerIP" value="192.168.1.121,172.24.221.2"/> <!--此处不能使用127.0.0.1 在ServiceZoneConfig.asmx.cs中如果获取到内网地址不会是该IP-->
    <!-- 连接字符串是否加密 [暂未使用] -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--<add key="ConnStrGameCoreDB" value="server=192.168.7.77\CODE;database=GameCoreDB;uid=sa;pwd=asdf1234!"/>-->
  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <globalization culture="auto" uiCulture="auto"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>