<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GSSWebServiceOut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 使用此WEBSERVICE的服务端的IP,只允许此IP访问(如果为访问地址为localhost或127.0.0.1,请在此处写127.0.0.1);配合IIS做IP限制,双重安全 -->
    <!--允许多个IP,请用,隔开-->
    <add key="RemoteServerIP" value="127.0.0.1,192.168.7.77,172.24.221.2"/>
    <!-- 连接字符串是否加密 [暂未使用] -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--GSS服务系统数据库GSSDB的连接字符串-->
    <add key="ConnStrGSSDB" value="server=.;database=GSSDB;uid=sa;pwd=5225qs5a5a#"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <GSSWebServiceOut.Properties.Settings>
      <setting name="GSSWebServiceOut_GSSWebService_ServiceXLJ" serializeAs="String">
        <value>http://localhost:3287/ServiceXLJ.asmx</value>
      </setting>
    </GSSWebServiceOut.Properties.Settings>
  </applicationSettings>
</configuration>